#list-ingredients-result {
    background-color: var(--primary);
    width: 420px;
    height: 290px; 
    overflow-x: scroll;
}

#list-apparatus-result {
    background-color: var(--secondary);
    width: 230px;
    height: 290px;
}

#list-utensils-result {
    background-color: var(--tertiary);
    width: 440px;
    height: 290px;
    overflow-x: scroll;
}

#ingredients {
    display: flex;
    flex-direction: column;
}

.list-result {
    display: none ;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 0px 0px 5px 5px;
    color: var(--white);
    margin: -20px 0px 20px 0px;
}

#search-result {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    border-radius: 20px;
}

.no-result {
    background-color: rgb(167, 25, 25);
    position: fixed;    
    margin-top: 20px;
    padding: 10px;
    color: white;
}

.item-list {
    padding: 5px 10px 5px 10px;
    color: rgb(240, 245, 250);
    display: inline-block;
}

.item-ingredients:hover {
    background-color: #2C72D8;
}

.item-apparatus:hover {
    background-color: #5CBE90;
}

.item-utensils:hover {
    background-color: #CF584A;
}


.show-list {
    display: block;
}

#tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    color: var(--white);
    padding: 10px 15px 10px 15px;
    border-radius: 5px; border-style: none;
    margin: 5px 10px 5px 0px;
    align-items: center;
}

.close-tag {
    height: 20px;
    width: 20px;
    display: block;
    cursor: pointer;

}

.tag-ingredients {
    background-color: var(--primary);
}

.tag-apparatus {
    background-color: var(--secondary);
}

.tag-utensils {
    background-color: var(--tertiary);
}

.fa-xmark {
    color: white;
    border: 2px solid white; border-radius: 50%;
    display: flex;
    margin-left: 10px;
}

.fa-xmark::before {
    /* centrage */
    line-height: 16px; 
}

.combo-box.open .list-result {
    display: flex;
}

.combo-box.open .chevron {
    transform: rotate(180deg);
}

.combo-box.open input {
    border-radius: 5px 5px 0px 0px;
}

.combo-box .chevron {
    transition: transform 0.2s;
}