@import url(/css/recipe.css);

:root {
    --primary:#3282f7;
    --secondary: #69d9a4;
    --tertiary: #ed6454;
    --white: #fff;
}

body {
    margin: 0;
}

li {
    list-style: none;
}

.container {
    margin: 20px 0 0 0;
    padding: 0;
}

header {
    display: flex;
    margin-bottom: 20px;
}

#hat {
    background: url(/assets/icons/hat.svg);
}

#title {
    color: #d04f4f;
    font-weight: bold;
    font-size: 2rem;
}

input {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0px;
}


#search-input {
    background: url(/assets/icons/icon-search.svg) no-repeat right 10px bottom 40%;
    background-color: #e7e7e7;
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-weight: 600;
}

#search-input::placeholder {
    color: #adadad
}

::placeholder {
    color: var(--white);
}

#search-ingredients, #search-apparatus, #search-utensils {
    padding: 15px;
    margin: 20px 0px;
    color: var(--white);
    font-weight: 600;
}


#search-ingredients {
    background-color: var(--primary);
}

#search-apparatus {
    background-color: var(--secondary);
    margin: 20px 20px;
}

#search-utensils {
    background-color: var(--tertiary);
}